<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
    <item label="Terminal">
        <action name="Execute"><execute>mate-terminal</execute></action>
    </item>
    
    <item label="Navegador">
        <action name="Execute"><execute>vivaldi-stable</execute></action>
    </item>
    
    <separator />
    
    <item label="ObConf">
        <action name="Execute"><execute>obconf</execute></action>
    </item>
    
    <item label="Apariencia">
        <action name="Execute"><execute>lxappearance</execute></action>
    </item>
    
    <item label="Fondo">
        <action name="Execute"><execute>nitrogen</execute></action>
    </item>
    
    <item label="Reconfigurar">
        <action name="Reconfigure" />
    </item>
    
    <item label="Reiniciar OB">
        <action name="Restart" />
    </item>
    
    <separator />
    
    <item label="Cerrar Sesión">
        <action name="Exit" />
    </item>
    
    <item label="Reiniciar PC">
        <action name="Execute">
            <prompt>
                ¿Estás eguro de querer reiniciar?
            </prompt>
            <execute>
                sudo shutdown -r now
            </execute>
        </action>
    </item>

    <item label="APAGAR">
        <action name="Execute">
            <prompt>
                ¿Estás eguro de querer apagar?
            </prompt>
            <execute>
                sudo shutdown -h now
            </execute>
        </action>
    </item>

    <item label="Log Out">
    <action name="SessionLogout">
    <prompt>yes</prompt>
    </action>
    </item>
</menu>

</openbox_menu>
